// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// SEARCH BOX
.search {
  // grow/shrink/basis
  flex: 0 0 40%;

  // inputと虫眼鏡のflex
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;

    // focusのtransition
    transition: all 0.2s;

    // 虫眼鏡が入るように、-3.5rem
    margin-right: -3.25rem;

    &:focus {
      // focusしたら背景を暗くして100%にする
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      font-weight: 100;
      // placeholderの色を薄くする
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    // inputにfocusしたら、buttonの色も暗くする
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      // クリックしたら下に2px
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

// USER NAV
.user-nav {
  // logo と search はcenterにしたいので、headerは align-item: center にしているが、navは上下に目一杯広げたいので、
  // align-self: stretch にする。
  align-self: stretch;

  display: flex;
  align-items: center;

  // 直接の子供である、__icon-box と __user をselect
  & > * {
    padding: 0 2rem;
    cursor: pointer;

    // align-items: stretchで上下に目一杯広げてもOK
    height: 100%;

    // icon-box とuser の中のflex
    // これがないと上寄せになってしまう。
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    // 〇のnotificationをpositionするために、relative
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;

    // icon-boxからのabsolute
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    // 〇の中のflex
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

// SIDE NAV
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    // hoverした初期状態は、幅5px
    width: 5px;
    background-color: var(--color-primary);

    transform: scaleY(0);
    // centerがデフォルト
    // transform-origin: top;

    // transform 0.2 : scaleYが0.2秒間で起きる
    // width 0.4s 0.2s : widthが100%になるのが、0.2 delay で 0.2秒間で起きる。
    transition: transoform 0.2s, width 0.2s 0.2s, background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    // a はinlineなので、縦方向のpaddingが効かないため、blockに変更する。
    // liの中で横並べすることはないので、心置きなくblockにする。
    display: block;
    padding: 1.5rem 3rem;

    // z-indexはpositionがついていないと効かないらしい。
    position: relative;
    z-index: 10;

    // iconとspanのflex
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    // currentColorで親要素と同じ色にできる。CSSフレームワークを使っている場合に、同じ色にする場合に便利かも。
    // fill: var(--color-grey-light-1);
    fill: currentColor;
  }
}

// LEGAL
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

// GALLERY
.gallery {
  display: flex;

  &__photo {
    // display: flex になっているので幅は決まっている。100%にすることでちょうど良いサイズになる。
    width: 100%;
    display: block;
  }
}

// OVERVIEW
.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    // TEST用
    // background-color: aquamarine;

    // flex-grow: 1 なので、starsの幅が大きくなる。
    // headerで右寄せにするときに使う技。
    // しかしながらこの技は、hoverしたときに全体が反応してしまうという欠点あり。
    // flex: 1;

    // こっちが正解
    // これであればmarginが大きくなるので、hover問題が解決できる。
    margin-right: auto;

    // icon-starの余分な空白を無くすためのflex。
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;

    // iconとbuttonのためのflex
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;

    // .user-navと同じパターン。align-items: center で全体を縦中央にして、一部だけを縦に広げる技。
    align-self: stretch;

    // averageとcountのためのflex。
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;

    // 上下のスペースを狭くしたいので、-5px
    margin-bottom: -5px;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

// BTN
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    outline: none;
  }
}
