.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  // logo/search/nav のflex
  // space-between で左右中央に配置
  // header が高さ7remなので、align-items: center
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  // grow/shrink/basis
  flex: 0 0 18%;

  // sidebar内の縦のflex。flex-directionをcolumnにしているので、上下に配置される。
  // side-navが上、legalが下。
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;

  // flex-grow: 1 で、余ったスペース全部になる。
  flex: 1;
}

.detail {
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);

  // description と user-reviews のflex。
  display: flex;
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shedow-light);
  padding: 3rem;
  margin-right: 4.5rem;

  // grow/shrink/bases
  flex: 0 0 60%;
}

.user-reviews {
  background-color: olivedrab;

  // flex-grow: 1 で、余ったスペース全部になる。
  flex: 1;
}
